<body>
	<div id='readFrame'>
		<div style="width: 100%; background: #fff; text-align: center;">
			<table align='center' width='700' border='0' cellpadding='0' cellspacing='0' style='width: 700px; margin: 0 auto; text-align: left;'>
				<tbody>
					<tr>
						<td style='height: 60px; background: #ffffe6; border-bottom: 2px solid #ffcc00;'>
							<a href='http://bllidev.dev/projectBlli2/index.do' target='_blank' style='margin: 0 0 0 45px;'>
								<img src='http://bllidev.dev/projectBlli2/image/blliLogo_orange.jpg' width='150' alt='블리'>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<table width='700' border='0' cellpadding='0' cellspacing='0' style='background: #ffffe6;'>
								<tbody>
									<tr>
										<td style='width: 45px;'></td>
										<td>
											<table width='610' border='0' cellpadding='0' cellspacing='0'>
												<tbody>
													<tr>
														<td height="75" align="center">
															<h4>우측의 링크를 클릭하시면 임시비밀번호가 발송됩니다. <a href="${linkToGetTemporaryPassword}">임시 비밀번호 받기</a> </h4>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
										<td style='width: 45px;'></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>