<body>
	<div id='readFrame'>
		<div style='width: 100%; background: #fff; text-align: center; font: normal 12px dotum, '돋움''>
			<table align='center' width='700' border='0' cellpadding='0' cellspacing='0' style='width: 700px; margin: 0 auto; text-align: left;'>
				<tbody>
					<tr>
						<td style='height: 60px; background: #ebebeb; border-bottom: 2px solid #ed402e;'>
							<a href='http://bllidev.dev/projectBlli2/index.do' target='_blank' style='margin: 0 0 0 45px;'>
								<img src='http://bllidev.dev/projectBlli2/image/blliLogo_orange.jpg' width='150' alt='블리'>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<table width='700' border='0' cellpadding='0' cellspacing='0' style='background: #f5f5f5;'>
								<tbody>
									<tr>
										<td style='width: 45px;'></td>
										<td>
											<table width='610' border='0' cellpadding='0' cellspacing='0'>
												<tbody>
													<tr>
														<td height='75' style='border-bottom: 1px solid #1e2024;'>
															비밀번호 분실 조회
														</td>
													</tr>
													<tr>
														<td height='84' style='border-top: 1px solid #4e5157;'>
															<p style='margin: 0; color: #363636;'> ${memberName} 고객님, 안녕하세요.</p>
															<p style='margin: 9px 0 0; color: #363636;'> 요청하신 비밀번호는 아래와 같습니다.</p>
														</td>
													</tr>
													<tr>
														<td height='50'style='background: #d2d5d9; color: #fb661e; font: bold 15px Tahoma; text-align: center;'>
															${memberPassword} <!-- 이게 null이면 null로 표시가 안되고 그냥 ${memberPassword} 그대로 출력
														</td> </tr><tr><td style='padding: 22px 0 50px; color: #363636;'>
														<p style='margin: 0;'>항상 블리를 사랑해주셔서 감사드리며, 보다 나은 서비스를 위해 최선을 다하겠습니다.</p>
														<p style='margin: 11px 0 0;'>감사합니다!</p>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
										<td style='width: 45px;'></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>