<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script language="JavaScript"> 
  function showCalendar(y,m,id){ 
    var text = '<table>\n<tr><td colspan=7 style="text-align:center">'; 
    text += '<span style=cursor:pointer title="1년 뒤로" onclick="showCalendar('+(y-1)+','+m+')"> ◀ </span>'; 
    text += '<span style=cursor:pointer title="1개월 뒤로" onclick="showCalendar('+(m==1?(y-1)+','+12:y+','+(m-1))+')"> ◁ </span>'; 
    text += '[' + y + '년 ' + ((m < 10) ? ('0' + m) : m) + '월]'; 
    text += '<span style=cursor:pointer title="1개월 앞으로" onclick="showCalendar('+(m==12?(y+1)+','+1:y+','+(m+1))+')"> ▷ </span>'; 
    text += '<span style=cursor:pointer title="1년 앞으로" onclick="showCalendar('+(y+1)+','+m+')"> ▶ </span>'; 
    text += '</td>'; 

    var d1 = (y+(y-y%4)/4-(y-y%100)/100+(y-y%400)/400 
          +m*2+(m*5-m*5%9)/9-(m<3?y%4||y%100==0&&y%400?2:3:4))%7; 
    for (i = 0; i < 42; i++) { 
        if (i%7==0) text += '</tr>\n<tr>'; 
        if (i < d1 || i >= d1+(m*9-m*9%8)/8%2+(m==2?y%4||y%100==0&&y%400?28:29:30)) 
            text += '<td> </td>'; 
        else 
            text += '<td' + (i%7 ? '' : ' style="color:red;"') + ' style=cursor:pointer onclick=document.getElementById("'+id+'").value='+y+((m<10)?('0'+m):m)+(((i+1-d1)<10)?('0'):'')+(i+1-d1)+';document.getElementById("calendarDiv").style.display="none">'+(i+1-d1)+'</td>'; 
    } 
    document.getElementById('calendarDiv').style.display='' 
    document.getElementById('calendarDiv').innerHTML = text + '</tr>\n</table>'; 
} 
</script> 

<table width=700> 
  <form> 
  <tr> 
    <td colspan=2> 
      <input name=startdate id=startdate type=text value="" style=width:100px readonly onfocus="showCalendar(<%=year(date)%>,<%=month(date)%>,this.id)"> 
      &nbsp;-&nbsp; 
      <input name=enddate id=enddate type=text value="" style=width:100px readonly onfocus="showCalendar(<%=year(date)%>,<%=month(date)%>,this.id)"> 
      &nbsp; 
      <input type=submit value=검색 onfocus=blur()> 
      <div id=calendarDiv style=font-family:Gulim;font-size:9pt;position:absolute></div> 
    </td> 
  </tr> 
  </form>
  <tr> 
    <td><%=left(startdate,4)%>년 <%=left(right(startdate,4),2)%>월 <%=right(startdate,2)%>일부터 <%=left(enddate,4)%>년 <%=left(right(enddate,4),2)%>월 <%=right(enddate,2)%>일까지 검색된 결과 입니다.</td> 
    <td align=right><input type=button value="엑셀 다운" onfocus=blur() onclick=''></td> 
  </tr> 
</table>
</html>